.ingredients_container {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: auto;   
    gap: calc(var(--offset-base-size) * 8) calc(var(--offset-base-size) * 6);
    flex-wrap: wrap;
}