.ingredient {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 270px;
}

.text_name {
    text-align: center;
    min-height: 48px;
}