.ingredient {
    display: flex;
    align-items: center;
    gap:calc(var(--offset-base-size) * 2)
}
.custom_scroll {
    max-height: 39vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4);
}

.custom_scroll::-webkit-scrollbar {
	width: 12px;
}
.custom_scroll::-webkit-scrollbar-track {
	background: #2F2F37;
}
.custom_scroll::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

.container_value {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: calc(var(--offset-base-size) * 10)
}

.value_order {
    display: flex;
    align-items: center;
    gap: calc(var(--offset-base-size) * 2)
}