.tabs {
    display: flex;
}

.categories {
    max-width: 600px;
    max-height: 60vh;
    overflow-y: scroll;
}

.categories::-webkit-scrollbar {
	width: 12px;
}
.categories::-webkit-scrollbar-track {
	background: #2F2F37;
}
.categories::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

